.browse-btn {
  background-color: #5c7fff; /* Button color (yellow) */
  color: white;              /* Text color */
  border: none;
  border-radius: 50px;       /* Pill shape */
  padding: 5px 20px;        /* Size */
  transition: all 0.3s ease;
}

.browse-btn:hover {
      color: white;              /* Text color */

  background-color: #5c7fff; /* Darker yellow on hover */
  transform: scale(1.05);    /* Slight zoom effect */
}

.browse-btn:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem rgba(251, 194, 64, 0.5); /* Bootstrap-style focus */
}